In [21]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
xl = pd.ExcelFile('/content/gdrive/MyDrive/12- по времени с 22 дек.xlsx') # Здесь меняем название файла, для других файлов
xl.sheet_names # Смотрим как называется лист, в котором расположены данные

['Лист1']

In [4]:
df = xl.parse('Лист1') # Переформатируем файл эксель в датафрейм
df.head # Смотрим что получилось

<bound method NDFrame.head of              Дата и Время Глубина Вес на крюке Высота крюка Скорость СПО  \
0       MON DD YEAR HH:MM       m       tonnes            m        m/min
1       Dec 22 2020 20:00  3141.7            0         2.02            0
2       Dec 22 2020 20:00  3141.7            0         2.02            0
3       Dec 22 2020 20:00  3141.7            0         2.02            0
4       Dec 22 2020 20:00  3141.7            0         2.02            0
...                   ...     ...          ...          ...          ...
137573  Dec 24 2020 10:12  3141.7            0         1.53            0
137574  Dec 24 2020 10:12  3141.7            0         1.53            0
137575  Dec 24 2020 10:12  3141.7            0         1.53            0
137576  Dec 24 2020 10:12  3141.7            0         1.53            0
137577  Dec 24 2020 10:12  3141.7            0         1.53            0

       Нагр.на дол Момент на роторе Глубина долота  Обороты Давление  ...  \
0           tonnes              KNm              m      NaN   Kg/cm2  ...
1                0                0         207.84      0.0        0  ...
2                0                0         207.84      0.0        0  ...
3                0                0         207.84      0.0        0  ...
4                0                0         207.84      0.0        0  ...
...            ...              ...            ...      ...      ...  ...
137573           0           0.0141              0      0.0        0  ...
137574           0           0.0141              0      0.0        0  ...
137575           0           0.0141              0      0.0        0  ...
137576           0           0.0141              0      0.0        0  ...
137577           0           0.0141              0      0.0        0  ...

       Pit 8 Сумм. актив ёмк.      С1      С2      С3     iC4     nC4     iC5  \
0         m3               m3       %       %       %       %       %       %
1          0            4.667 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
2          0            4.662 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
3          0            4.658 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
4          0            4.676 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
...      ...              ...     ...     ...     ...     ...     ...     ...
137573     0              8.5 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
137574     0            8.548 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
137575     0            8.525 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
137576     0             8.56 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25
137577     0             8.62 -999.25 -999.25 -999.25 -999.25 -999.25 -999.25

           nC5 Сумм.газ.хромат
0            %               %
1      -999.25         -999.25
2      -999.25         -999.25
3      -999.25         -999.25
4      -999.25         -999.25
...        ...             ...
137573 -999.25         -999.25
137574 -999.25         -999.25
137575 -999.25         -999.25
137576 -999.25         -999.25
137577 -999.25         -999.25

[137578 rows x 37 columns]>

In [5]:
df = df.replace(0,'NAN',regex=True).astype(str)
df = df.replace('-999.25','NAN',regex=True).astype(str) # Заменяем на "NAN" все нули и "-999.25"
df[:3] # Смотрим, что получилось

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Pit 8,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
0,MON DD YEAR HH:MM,m,tonnes,m,m/min,tonnes,KNm,m,nan,Kg/cm2,...,m3,m3,%,%,%,%,%,%,%,%
1,Dec 22 2020 20:00,3141.7,NAN,2.02,NAN,NAN,NAN,207.84,NAN,NAN,...,NAN,4.667,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
2,Dec 22 2020 20:00,3141.7,NAN,2.02,NAN,NAN,NAN,207.84,NAN,NAN,...,NAN,4.662,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [7]:
unique_meaning = np.unique(df['Дата и Время'])
count_all = len(df['Дата и Время'])
count_u = len(unique_meaning)
min = count_all/60
print(count_all)
print(count_u)
print(min) # Только одно значение должно быть из всего набора строк, то есть заголовок. Убидиться так оно, или нет можно ниже.

137578
2294
2292.9666666666667

In [18]:
counts = df['Дата и Время'].value_counts()
print(counts)

Dec 23 2020 15:06    60
Dec 23 2020 21:30    60
Dec 23 2020 21:24    60
Dec 23 2020 21:25    60
Dec 23 2020 21:26    60
                     ..
Dec 23 2020 08:34    60
Dec 23 2020 08:33    60
Dec 24 2020 10:10    60
Dec 24 2020 10:12    57
MON DD YEAR HH:MM     1
Name: Дата и Время, Length: 2294, dtype: int64

In [20]:
counts = df['Дата и Время'].value_counts()
counts[counts!= 60] # Таким образом можно отслеживать, в какой минуте не хватает строк (не все показатели записались посекундно)

Dec 24 2020 10:12    57
MON DD YEAR HH:MM     1
Name: Дата и Время, dtype: int64