In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('./7400/2-28дек.xlsx')

In [3]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
0,MON DD YEAR HH:MM,m,tonnes,m,m/min,tonnes,KNm,m,NaN,Kg/cm2,...,m3,m3,%,%,%,%,%,%,%,%
1,Dec 28 2020 20:00,28.88,3.587,10.25,0.78,0,0,21,0.0,2,...,27.607,57.503,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Dec 28 2020 20:00,28.88,2.199,10.22,0.78,0,0,21.03,0.0,2,...,27.604,57.507,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,Dec 28 2020 20:00,28.88,0.057,10.22,0,0,0,21.03,0.0,2,...,27.605,57.5,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,Dec 28 2020 20:00,28.88,0.05,10.22,0,0,0,21.03,0.0,2,...,27.605,57.495,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [41]:
ndf = df.copy()

In [42]:
ndf = ndf.drop(df.index[0])
ndf.head(2)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
1,Dec 28 2020 20:00,28.88,3.587,10.25,0.78,0,0,21,0.0,2,...,27.607,57.503,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Dec 28 2020 20:00,28.88,2.199,10.22,0.78,0,0,21.03,0.0,2,...,27.604,57.507,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [43]:
ndf['Дата и Время'] = pd.to_datetime(ndf['Дата и Время'], dayfirst=True)
ndf.head(3)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
1,2020-12-28 20:00:00,28.88,3.587,10.25,0.78,0,0,21,0.0,2,...,27.607,57.503,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2020-12-28 20:00:00,28.88,2.199,10.22,0.78,0,0,21.03,0.0,2,...,27.604,57.507,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,2020-12-28 20:00:00,28.88,0.057,10.22,0,0,0,21.03,0.0,2,...,27.605,57.5,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [44]:
ndf["Дата и Время"] = pd.to_datetime(ndf["Дата и Время"],format='%m/%d/%Y %H:%M')

In [45]:
ndf.columns = ndf.columns.str.strip()

In [46]:
ndf.columns

Index(['Дата и Время', 'Глубина', 'Вес на крюке', 'Высота крюка',
       'Скорость СПО', 'Нагр.на дол', 'Момент на роторе', 'Глубина долота',
       'Обороты', 'Давление', 'Мех.скорость средняя', 'Ходы насоса 1',
       'Ходы насоса 2', 'Расход вх.', 'Темп.вх', 'Темп.вых', 'Плотность вх',
       'Плотность вых.', 'Поток на вых.', 'Рабочая емк.1', 'Рабочая емк.2',
       'БПР 1', 'БПР 2', 'Долив', 'ЦСГО', 'ЦСГО 2', 'Сумм. актив ёмк.', 'С1',
       'С2', 'С3', 'iC4', 'nC4', 'iC5', 'nC5', 'Сумм.газ.хромат'],
      dtype='object')

In [47]:
col = ['Глубина', 'Вес на крюке', 'Высота крюка',
       'Скорость СПО', 'Нагр.на дол', 'Момент на роторе', 'Глубина долота',
       'Обороты', 'Давление', 'Мех.скорость средняя', 'Ходы насоса 1',
       'Ходы насоса 2', 'Расход вх.', 'Темп.вх', 'Темп.вых', 'Плотность вх',
       'Плотность вых.', 'Поток на вых.', 'Рабочая емк.1', 'Рабочая емк.2',
       'БПР 1', 'БПР 2', 'Долив', 'ЦСГО', 'ЦСГО 2', 'Сумм. актив ёмк.', 'С1',
       'С2', 'С3', 'iC4', 'nC4', 'iC5', 'nC5', 'Сумм.газ.хромат']

for i in col:
    ndf[i] = ndf[i].astype(float)

# df['Глубина'] = df['Глубина'].astype(float)
# df['Вес на крюке'] = df['Вес на крюке'].astype(float)
# df['Высота крюка'] = df['Высота крюка'].astype(float)
# df['Скорость СПО'] = df['Скорость СПО'].astype(float)
# df['Нагр.на дол'] = df['Нагр.на дол'].astype(float)
# df['Момент на роторе'] = df['Момент на роторе'].astype(float)

# df['Глубина долота'] = df['Глубина долота'].astype(float)
# df['Давление'] = df['Давление'].astype(float)
# df['Мех.скорость средняя'] = df['Мех.скорость средняя'].astype(float)
# df['Ходы насоса 1'] = df['Ходы насоса 1'].astype(float)
# df['Ходы насоса 2'] = df['Ходы насоса 2'].astype(float)
# df['Расход вх.'] = df['Расход вх.'].astype(float)

# df['Темп.вх'] = df['Темп.вх'].astype(float)
# df['Темп.вых'] = df['Темп.вых'].astype(float)
# df['Плотность вх'] = df['Плотность вх'].astype(float)
# df['Плотность вых.'] = df['Плотность вых.'].astype(float)
# df['Поток на вых.'] = df['Поток на вых.'].astype(float)
# df['Рабочая емк.1'] = df['Рабочая емк.1'].astype(float)

# df['Рабочая емк.2'] = df['Рабочая емк.2'].astype(float)
# df['БПР 1'] = df['БПР 1'].astype(float)
# df['БПР 2'] = df['БПР 2'].astype(float)
# df['Долив'] = df['Долив'].astype(float)
# df['ЦСГО'] = df['ЦСГО'].astype(float)
# df['ЦСГО 2'] = df['ЦСГО 2'].astype(float)

# df['Сумм. актив ёмк.'] = df['Сумм. актив ёмк.'].astype(float)
# df['С1'] = df['С1'].astype(float)
# df['С2'] = df['С2'].astype(float)
# df['С3'] = df['С3'].astype(float)
# df['iC4'] = df['iC4'].astype(float)
# df['nC4'] = df['nC4'].astype(float)
# df['iC5'] = df['iC5'].astype(float)
# df['nC5'] = df['nC5'].astype(float)
# df['Сумм.газ.хромат'] = df['Сумм.газ.хромат'].astype(float)

In [48]:
ndf.isnull().sum()

Дата и Время            0
Глубина                 0
Вес на крюке            0
Высота крюка            0
Скорость СПО            0
Нагр.на дол             0
Момент на роторе        0
Глубина долота          0
Обороты                 0
Давление                0
Мех.скорость средняя    0
Ходы насоса 1           0
Ходы насоса 2           0
Расход вх.              0
Темп.вх                 0
Темп.вых                0
Плотность вх            0
Плотность вых.          0
Поток на вых.           0
Рабочая емк.1           0
Рабочая емк.2           0
БПР 1                   0
БПР 2                   0
Долив                   0
ЦСГО                    0
ЦСГО 2                  0
Сумм. актив ёмк.        0
С1                      0
С2                      0
С3                      0
iC4                     0
nC4                     0
iC5                     0
nC5                     0
Сумм.газ.хромат         0
dtype: int64

In [49]:
ndf.set_index('Дата и Время', inplace=True)

In [50]:
print(ndf.index.min())
print(ndf.index.max())

2020-12-28 20:00:00
2020-12-31 20:00:00

In [51]:
ndf.head(3)

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,Мех.скорость средняя,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-12-28 20:00:00,28.88,3.587,10.25,0.78,0.0,0.0,21.00,0.0,2.0,0.0,...,27.607,57.503,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2020-12-28 20:00:00,28.88,2.199,10.22,0.78,0.0,0.0,21.03,0.0,2.0,0.0,...,27.604,57.507,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2020-12-28 20:00:00,28.88,0.057,10.22,0.00,0.0,0.0,21.03,0.0,2.0,0.0,...,27.605,57.500,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [52]:
ndf= ndf.replace(-999.25, np.nan)

In [53]:
ndf = ndf.where(ndf > 0, np.nan)
ndf.tail(5)

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,Мех.скорость средняя,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-12-31 19:59:00,367.48,20.556,5.73,NaN,NaN,2.9610,366.01,59.0,138.0,NaN,...,16.948,52.114,0.0434,0.032,0.0004,NaN,0.0001,NaN,NaN,0.0758
2020-12-31 19:59:00,367.48,20.699,5.73,NaN,NaN,3.6237,366.01,59.0,134.0,NaN,...,16.962,52.106,0.0434,0.032,0.0004,NaN,0.0001,NaN,NaN,0.0758
2020-12-31 19:59:00,367.48,20.603,5.73,NaN,NaN,3.5532,366.01,59.0,133.0,NaN,...,17.009,52.209,0.0434,0.032,0.0004,NaN,0.0001,NaN,NaN,0.0758
2020-12-31 19:59:00,367.48,20.819,5.73,NaN,NaN,2.8623,366.01,59.0,135.0,NaN,...,17.029,52.167,0.0434,0.032,0.0004,NaN,0.0001,NaN,NaN,0.0758
2020-12-31 20:00:00,367.48,20.627,5.73,NaN,NaN,3.7929,366.01,59.0,141.0,NaN,...,17.072,52.138,0.0434,0.032,0.0004,NaN,0.0001,NaN,NaN,0.0758

In [54]:
rotation = ndf['Обороты'].resample('1min').apply(lambda x : max(x, key = abs))
pump1 = ndf['Ходы насоса 1'].resample('1min').apply(lambda x : max(x, key = abs))
pump2 = ndf['Ходы насоса 2'].resample('1min').apply(lambda x : max(x, key = abs))

In [56]:
ndf.drop(['Обороты','Ходы насоса 1', 'Ходы насоса 2'],axis=1,inplace=True)
ndf.head()

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Давление,Мех.скорость средняя,Расход вх.,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-12-28 20:00:00,28.88,3.587,10.25,0.78,NaN,NaN,21.00,2.0,NaN,NaN,...,27.607,57.503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28 20:00:00,28.88,2.199,10.22,0.78,NaN,NaN,21.03,2.0,NaN,NaN,...,27.604,57.507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28 20:00:00,28.88,0.057,10.22,NaN,NaN,NaN,21.03,2.0,NaN,NaN,...,27.605,57.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28 20:00:00,28.88,0.050,10.22,NaN,NaN,NaN,21.03,2.0,NaN,NaN,...,27.605,57.495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28 20:00:00,28.88,0.060,10.22,NaN,NaN,NaN,21.03,2.0,NaN,NaN,...,27.614,57.513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Агррегируем по 1мин и берем среднее значение

ndf_mean = ndf.resample('1min').mean()
ndf_mean.shape

(4321, 31)

In [58]:
# Агррегируем по 1мин и берем макс значение

ndf_max = ndf.resample('1min').max()
ndf_max.shape

(4321, 31)

In [59]:
ndf_mean['Обороты'] = rotation.values
ndf_mean['Ходы насоса 1'] = pump1.values
ndf_mean['Ходы насоса 2'] = pump2.values

In [81]:
ndf_max['Обороты'] = rotation.values
ndf_max['Ходы насоса 1'] = pump1.values
ndf_max['Ходы насоса 2'] = pump2.values

In [82]:
ndf_mean.head(2)

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Давление,Мех.скорость средняя,Расход вх.,...,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат,Обороты,Ходы насоса 1,Ходы насоса 2
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-12-28 20:00:00,28.88,0.262000,10.220500,0.78,1.547333,1.538310,21.0295,2.0,223.411765,0.116581,...,0.008375,0.0001,0.0001,0.0001,0.0001,0.0001,0.0006,NaN,45.9994,0.275
2020-12-28 20:01:00,28.88,0.082058,10.969667,0.78,1.547333,1.516292,20.9325,2.0,223.411765,0.116581,...,0.008375,0.0001,0.0001,0.0001,0.0001,0.0001,0.0006,12.0,45.9994,0.275

In [83]:
ndf_max.head(2)

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Давление,Мех.скорость средняя,Расход вх.,...,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат,Обороты,Ходы насоса 1,Ходы насоса 2
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-12-28 20:00:00,28.88,3.587,10.25,0.78,NaN,10.3353,21.03,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28 20:01:00,28.88,0.103,11.05,NaN,NaN,2.7918,21.03,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN

In [61]:
ndf_mean.isna().sum()

Глубина                    0
Вес на крюке              68
Высота крюка             266
Скорость СПО            2485
Нагр.на дол             3406
Момент на роторе         729
Глубина долота           633
Давление                2141
Мех.скорость средняя    3383
Расход вх.              2622
Темп.вх                   21
Темп.вых                  21
Плотность вх              21
Плотность вых.            21
Поток на вых.           2583
Рабочая емк.1             21
Рабочая емк.2             33
БПР 1                   4321
БПР 2                     21
Долив                     21
ЦСГО                    4321
ЦСГО 2                    21
Сумм. актив ёмк.          21
С1                      3685
С2                      3770
С3                      3979
iC4                     4317
nC4                     3990
iC5                     4258
nC5                     4066
Сумм.газ.хромат         3505
Обороты                 3385
Ходы насоса 1           2747
Ходы насоса 2           3434
dtype: int64

In [84]:
ndf_max.isna().sum()

Глубина                    0
Вес на крюке              68
Высота крюка             266
Скорость СПО            2485
Нагр.на дол             3406
Момент на роторе         729
Глубина долота           633
Давление                2141
Мех.скорость средняя    3383
Расход вх.              2622
Темп.вх                   21
Темп.вых                  21
Плотность вх              21
Плотность вых.            21
Поток на вых.           2583
Рабочая емк.1             21
Рабочая емк.2             33
БПР 1                   4321
БПР 2                     21
Долив                     21
ЦСГО                    4321
ЦСГО 2                    21
Сумм. актив ёмк.          21
С1                      3685
С2                      3770
С3                      3979
iC4                     4317
nC4                     3990
iC5                     4258
nC5                     4066
Сумм.газ.хромат         3505
Обороты                 3385
Ходы насоса 1           2747
Ходы насоса 2           3434
dtype: int64

In [75]:
С1=np.nanmedian(ndf_mean['С1'])
С2=np.nanmedian(ndf_mean['С2'])
С3=np.nanmedian(ndf_mean['С3'])
iC4=np.nanmedian(ndf_mean['iC4'])
nC4=np.nanmedian(ndf_mean['nC4'])
iC5=np.nanmedian(ndf_mean['iC5'])
nC5=np.nanmedian(ndf_mean['nC5'])
sum_med=np.nanmedian(ndf_mean['Сумм.газ.хромат'])
BPR1=np.nanmedian(ndf_mean['БПР 1'])
BPR2=np.nanmedian(ndf_mean['БПР 2'])
SCGO=np.nanmedian(ndf_mean['ЦСГО'])

ndf_mean['С1']=ndf_mean['С1'].fillna(С1)
ndf_mean['С2']=ndf_mean['С2'].fillna(С2)
ndf_mean['С3']=ndf_mean['С3'].fillna(С3)
ndf_mean['iC4']=ndf_mean['iC4'].fillna(iC4)
ndf_mean['nC4']=ndf_mean['nC4'].fillna(nC4)
ndf_mean['iC5']=ndf_mean['iC5'].fillna(iC5)
ndf_mean['nC5']=ndf_mean['nC5'].fillna(nC5)
ndf_mean['Сумм.газ.хромат']=ndf_mean['Сумм.газ.хромат'].fillna(sum_med)
ndf_mean['БПР 1']=ndf_mean['БПР 1'].fillna(BPR1)
ndf_mean['БПР 2']=ndf_mean['БПР 2'].fillna(BPR2)
ndf_mean['ЦСГО']=ndf_mean['ЦСГО'].fillna(SCGO)

In [85]:
ndf_max['С1']=ndf_max['С1'].fillna(С1)
ndf_max['С2']=ndf_max['С2'].fillna(С2)
ndf_max['С3']=ndf_max['С3'].fillna(С3)
ndf_max['iC4']=ndf_max['iC4'].fillna(iC4)
ndf_max['nC4']=ndf_max['nC4'].fillna(nC4)
ndf_max['iC5']=ndf_max['iC5'].fillna(iC5)
ndf_max['nC5']=ndf_max['nC5'].fillna(nC5)
ndf_max['Сумм.газ.хромат']=ndf_max['Сумм.газ.хромат'].fillna(sum_med)
ndf_max['БПР 1']=ndf_max['БПР 1'].fillna(BPR1)
ndf_max['БПР 2']=ndf_max['БПР 2'].fillna(BPR2)
ndf_max['ЦСГО']=ndf_max['ЦСГО'].fillna(SCGO)

In [76]:
ndf_mean['Глубина'] = ndf_mean['Глубина'].fillna(method='ffill')
ndf_mean['Вес на крюке'] = ndf_mean['Вес на крюке'].fillna(method='ffill')
ndf_mean['Высота крюка'] = ndf_mean['Высота крюка'].fillna(method='ffill')
ndf_mean['Скорость СПО'] = ndf_mean['Скорость СПО'].fillna(method='ffill')
ndf_mean['Нагр.на дол'] = ndf_mean['Нагр.на дол'].fillna(method='ffill')
ndf_mean['Момент на роторе'] = ndf_mean['Момент на роторе'].fillna(method='ffill')
ndf_mean['Глубина долота'] = ndf_mean['Глубина долота'].fillna(method='ffill')
ndf_mean['Обороты'] = ndf_mean['Обороты'].fillna(method='ffill')
ndf_mean['Давление'] = ndf_mean['Давление'].fillna(method='ffill')
ndf_mean['Мех.скорость средняя'] = ndf_mean['Мех.скорость средняя'].fillna(method='ffill')
ndf_mean['Ходы насоса 1'] = ndf_mean['Ходы насоса 1'].fillna(method='ffill')
ndf_mean['Ходы насоса 2'] = ndf_mean['Ходы насоса 2'].fillna(method='ffill')
ndf_mean['Расход вх.'] = ndf_mean['Расход вх.'].fillna(method='ffill')
ndf_mean['Темп.вх'] = ndf_mean['Темп.вх'].fillna(method='ffill')
ndf_mean['Темп.вых'] = ndf_mean['Темп.вых'].fillna(method='ffill')
ndf_mean['Плотность вх'] = ndf_mean['Плотность вх'].fillna(method='ffill')
ndf_mean['Плотность вых.'] = ndf_mean['Плотность вых.'].fillna(method='ffill')
ndf_mean['Поток на вых.'] = ndf_mean['Поток на вых.'].fillna(method='ffill')
ndf_mean['Рабочая емк.1'] = ndf_mean['Рабочая емк.1'].fillna(method='ffill')
ndf_mean['Рабочая емк.2'] = ndf_mean['Рабочая емк.2'].fillna(method='ffill')
ndf_mean['БПР 1'] = ndf_mean['БПР 1'].fillna(method='ffill')
ndf_mean['БПР 2'] = ndf_mean['БПР 2'].fillna(method='ffill')
ndf_mean['Долив'] = ndf_mean['Долив'].fillna(method='ffill')
ndf_mean['ЦСГО'] = ndf_mean['ЦСГО'].fillna(method='ffill')
ndf_mean['ЦСГО 2'] = ndf_mean['ЦСГО 2'].fillna(method='ffill')
ndf_mean['Сумм. актив ёмк.'] = ndf_mean['Сумм. актив ёмк.'].fillna(method='ffill')

In [86]:
ndf_max['Глубина'] = ndf_max['Глубина'].fillna(method='ffill')
ndf_max['Вес на крюке'] = ndf_max['Вес на крюке'].fillna(method='ffill')
ndf_max['Высота крюка'] = ndf_max['Высота крюка'].fillna(method='ffill')
ndf_max['Скорость СПО'] = ndf_max['Скорость СПО'].fillna(method='ffill')
ndf_max['Нагр.на дол'] = ndf_max['Нагр.на дол'].fillna(method='ffill')
ndf_max['Момент на роторе'] = ndf_max['Момент на роторе'].fillna(method='ffill')
ndf_max['Глубина долота'] = ndf_max['Глубина долота'].fillna(method='ffill')
ndf_max['Обороты'] = ndf_max['Обороты'].fillna(method='ffill')
ndf_max['Давление'] = ndf_max['Давление'].fillna(method='ffill')
ndf_max['Мех.скорость средняя'] = ndf_max['Мех.скорость средняя'].fillna(method='ffill')
ndf_max['Ходы насоса 1'] = ndf_max['Ходы насоса 1'].fillna(method='ffill')
ndf_max['Ходы насоса 2'] = ndf_max['Ходы насоса 2'].fillna(method='ffill')
ndf_max['Расход вх.'] = ndf_max['Расход вх.'].fillna(method='ffill')
ndf_max['Темп.вх'] = ndf_max['Темп.вх'].fillna(method='ffill')
ndf_max['Темп.вых'] = ndf_max['Темп.вых'].fillna(method='ffill')
ndf_max['Плотность вх'] = ndf_max['Плотность вх'].fillna(method='ffill')
ndf_max['Плотность вых.'] = ndf_max['Плотность вых.'].fillna(method='ffill')
ndf_max['Поток на вых.'] = ndf_max['Поток на вых.'].fillna(method='ffill')
ndf_max['Рабочая емк.1'] = ndf_max['Рабочая емк.1'].fillna(method='ffill')
ndf_max['Рабочая емк.2'] = ndf_max['Рабочая емк.2'].fillna(method='ffill')
ndf_max['БПР 1'] = ndf_max['БПР 1'].fillna(method='ffill')
ndf_max['БПР 2'] = ndf_max['БПР 2'].fillna(method='ffill')
ndf_max['Долив'] = ndf_max['Долив'].fillna(method='ffill')
ndf_max['ЦСГО'] = ndf_max['ЦСГО'].fillna(method='ffill')
ndf_max['ЦСГО 2'] = ndf_max['ЦСГО 2'].fillna(method='ffill')
ndf_max['Сумм. актив ёмк.'] = ndf_max['Сумм. актив ёмк.'].fillna(method='ffill')

In [77]:
ndf_mean.isnull().sum()

Глубина                    0
Вес на крюке               0
Высота крюка               0
Скорость СПО               0
Нагр.на дол               28
Момент на роторе           0
Глубина долота             0
Давление                   0
Мех.скорость средняя      28
Расход вх.                35
Темп.вх                    0
Темп.вых                   0
Плотность вх               0
Плотность вых.             0
Поток на вых.              0
Рабочая емк.1              0
Рабочая емк.2              0
БПР 1                   4321
БПР 2                      0
Долив                      0
ЦСГО                    4321
ЦСГО 2                     0
Сумм. актив ёмк.           0
С1                         0
С2                         0
С3                         0
iC4                        0
nC4                        0
iC5                        0
nC5                        0
Сумм.газ.хромат            0
Обороты                    1
Ходы насоса 1             36
Ходы насоса 2           2645
dtype: int64

In [87]:
ndf_max.isnull().sum()

Глубина                    0
Вес на крюке               0
Высота крюка               0
Скорость СПО               0
Нагр.на дол               28
Момент на роторе           0
Глубина долота             0
Давление                   0
Мех.скорость средняя      28
Расход вх.                35
Темп.вх                    0
Темп.вых                   0
Плотность вх               0
Плотность вых.             0
Поток на вых.              0
Рабочая емк.1              0
Рабочая емк.2              0
БПР 1                   4321
БПР 2                      0
Долив                      0
ЦСГО                    4321
ЦСГО 2                     0
Сумм. актив ёмк.           0
С1                         0
С2                         0
С3                         0
iC4                        0
nC4                        0
iC5                        0
nC5                        0
Сумм.газ.хромат            0
Обороты                    1
Ходы насоса 1             36
Ходы насоса 2           2645
dtype: int64

In [78]:
ndf_mean['Нагр.на дол'] = ndf_mean['Нагр.на дол'].fillna(method='bfill')
ndf_mean['Мех.скорость средняя'] = ndf_mean['Мех.скорость средняя'].fillna(method='bfill')
ndf_mean['Расход вх.'] = ndf_mean['Расход вх.'].fillna(method='bfill')
ndf_mean['БПР 1'] = ndf_mean['БПР 1'].fillna(method='bfill')
ndf_mean['ЦСГО'] = ndf_mean['ЦСГО'].fillna(method='bfill')
ndf_mean['Ходы насоса 1'] = ndf_mean['Ходы насоса 1'].fillna(method='bfill')
ndf_mean['Ходы насоса 2'] = ndf_mean['Ходы насоса 2'].fillna(method='bfill')

In [88]:
ndf_max['Нагр.на дол'] = ndf_max['Нагр.на дол'].fillna(method='bfill')
ndf_max['Мех.скорость средняя'] = ndf_max['Мех.скорость средняя'].fillna(method='bfill')
ndf_max['Расход вх.'] = ndf_max['Расход вх.'].fillna(method='bfill')
ndf_max['БПР 1'] = ndf_max['БПР 1'].fillna(method='bfill')
ndf_max['ЦСГО'] = ndf_max['ЦСГО'].fillna(method='bfill')
ndf_max['Ходы насоса 1'] = ndf_max['Ходы насоса 1'].fillna(method='bfill')
ndf_max['Ходы насоса 2'] = ndf_max['Ходы насоса 2'].fillna(method='bfill')

In [79]:
ndf_mean.isnull().sum()

Глубина                    0
Вес на крюке               0
Высота крюка               0
Скорость СПО               0
Нагр.на дол                0
Момент на роторе           0
Глубина долота             0
Давление                   0
Мех.скорость средняя       0
Расход вх.                 0
Темп.вх                    0
Темп.вых                   0
Плотность вх               0
Плотность вых.             0
Поток на вых.              0
Рабочая емк.1              0
Рабочая емк.2              0
БПР 1                   4321
БПР 2                      0
Долив                      0
ЦСГО                    4321
ЦСГО 2                     0
Сумм. актив ёмк.           0
С1                         0
С2                         0
С3                         0
iC4                        0
nC4                        0
iC5                        0
nC5                        0
Сумм.газ.хромат            0
Обороты                    1
Ходы насоса 1              0
Ходы насоса 2              0
dtype: int64

In [89]:
ndf_max.isnull().sum()

Глубина                    0
Вес на крюке               0
Высота крюка               0
Скорость СПО               0
Нагр.на дол                0
Момент на роторе           0
Глубина долота             0
Давление                   0
Мех.скорость средняя       0
Расход вх.                 0
Темп.вх                    0
Темп.вых                   0
Плотность вх               0
Плотность вых.             0
Поток на вых.              0
Рабочая емк.1              0
Рабочая емк.2              0
БПР 1                   4321
БПР 2                      0
Долив                      0
ЦСГО                    4321
ЦСГО 2                     0
Сумм. актив ёмк.           0
С1                         0
С2                         0
С3                         0
iC4                        0
nC4                        0
iC5                        0
nC5                        0
Сумм.газ.хромат            0
Обороты                    1
Ходы насоса 1              0
Ходы насоса 2              0
dtype: int64

In [80]:
pwd

'C:\\Users\\daur\\Praktika'

In [90]:
# df.to_excel(r'C:\Users\Ron\Desktop\File_Name.xlsx', index = False)
ndf_mean.to_excel(r'C:\Users\daur\Praktika\7400_compressed\2-28дек_comp_mean.xlsx')
ndf_max.to_excel(r'C:\Users\daur\Praktika\7400_compressed\2-28дек_comp_max.xlsx')